/* Write your CSS here */
* {
  box-sizing: border-box;
}
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 20px;
}
.user-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  min-height: 175px;
  max-height: 210px;
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.greetings {
  font-family: 'Roboto';
  font-size: 25px;
  color: #334155;
}
.welcome-text {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
}
.money-manager-text {
  color: #0b69ff;
}

.transaction-details-container {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
.transaction-input-container {
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  flex-grow: 1;
  min-height: 45vh;
  max-height: 90%;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}
.transaction-details-container-heading {
  font-family: 'Roboto';
  font-size: 26px;
  color: #334155;
}
.form-label {
  font-family: 'Roboto';
  font-size: 15px;
  color: #7e858e;
}
.form-input {
  width: 75%;
  padding: 15px;
  margin-top: 13px;
  border: 1px solid #d7dfe9;
  border-radius: 6px;
  font-family: 'Roboto';
  font-size: 18px;
  color: #1e293b;
}
.add-btn {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #0b69ff;
  color: #ffffff;
  height: 40px;
  width: 90px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.transaction-history-container {
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  min-height: 45vh;
  max-height: 90%;
  flex-grow: 3;
  padding-top: 30px;
  padding-left: 26px;
  padding-right: 28px;
  padding-bottom: 25px;
}
.transaction-history-list {
  list-style-type: none;
  padding-left: 0;
}
.history-table-col {
  display: flex;
  width: 100%;
  min-height: 40px;
  max-height: 50px;
  align-items: center;
  border: 2px solid #cbd5e1;
}
.column {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: #475569;
  margin-left: 25px;
  width: 25%;
  flex-wrap: 1;
  flex-shrink: 0;
}
